.intro_button{
    background-image:  linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    color: $white;
    padding: 20px;
    border-radius:25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 10px;
    border: none;
    vertical-align: baseline;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    margin: 15px 0px 15px 0px;
    width:218px;
    height:50px;
    &:hover{
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
        cursor: pointer;
    }
    &:active{
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    }
}
.command_button{
    background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    color: $white;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 25px;
    height: 50px;
    line-height: 0px;
    font-weight: bold;
    border: none; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    width: 200px;
    &:hover{
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
        cursor: pointer;
    }
    &:active{
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    }
}