.filter{
    min-width: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-radius: 20px;
    background-color: $grey;
    margin-bottom: 30px;
    @include shadow;
        .number{
            color: $white;
            background-color: $primaire;
            border-radius: 100px;
            width: 24px;
            height: 24px;
            position: absolute;
            margin-left: -8px;
            text-align: center;
            line-height: 24px;
        }
        i{
            color: $darkgrey;
            font-weight: bold;
            position: absolute;
            margin-left: 9%;
        }
    
        .filterContent{
            font-weight: bold;
        }
        span{
            width: 100%;
            text-align: center;
        }      
    }
.filter:hover{
    cursor: pointer;
    i.filter_icon{
        color: $primaire;
    }
}


@media all and (min-width: 960px) { 
    .filter{
        width: 25%;
        i{
            margin-left : 3.5%;
        }
        .filterContent{
            margin-left: 15%;
        }
    }
}