p{
    font-family:'roboto' ;
    font-size: 18px;
    line-height: 21px;
}

input{
    background-color: #EAEAEA;
    border: none;
    font-family: 'roboto';
    &::placeholder{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #353535;
    }
}

.header_title{
    font-family: 'Shrikhand';
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
}
.footer_title{
    font-family: 'Shrikhand';
}

h1{
    font-family: 'Shrikhand';
}
h2{
    font-weight: bold;
}
h3{
    font-weight: bold;
}
a{
    text-decoration: none;
    color: $black;
}