.logo{
    display: flex;
    justify-content: center;
    background-color: $white;
    @include shadow;
}
.localisation{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    box-shadow: inset 0px 2px 4px  #858585;
    gap: 17px;
    i{
        margin-left: 40px;
    }
}