.logo{
    display: flex;
    justify-content: center;
    background-color: $white;
    @include shadow;
}
.localisation{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    box-shadow: inset 0px 2px 4px  #858585;
    gap: 17px;
    i{
        margin-left: 40px;
    }
}
.intro{
    background-color: $grey;
    padding: 25px; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .intro__title{
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
    }
}
.fonctionnement{
    background-color: $white;
    padding: 25px;
    display: flex;
    justify-content: space-around;
}
.bloc{
    width: 100%;
    display: flex;
    flex-direction: column;   
}
.fonctionnement_filter{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.restaurant_list{
    background-color: $grey;
    padding: 25px 25px 1px 25px;
}
.cards_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    gap: 20px;
    margin-bottom: 20px;
    .card_container{
       a{
        width: 100%;
        } 
    } 
}
@media all and (min-width: 960px) {
    .fonctionnement{
        width: 80%;
        margin: 0 auto;
        h2{
            margin-left: 2.5%;
        }
    } 
    .restaurant_list h2{
        margin-left: 10%;
    }
    .cards_container{
        flex-direction: row;
        margin: 0 auto 50px auto;
        gap: 50px;
        max-width: 960px;
        .card_container{
            width: 50%;
        }
    }
}
