.title_restaurants{
    z-index: 2;
    width: 100%;
    height: 63px;
    display: flex;
    align-items: center;
    .returnHome{
        width: 20%;
        position: absolute;
        left: 30px;
        i{
            font-size: 18px;
        }  
    } 
    .header_title{
        margin: 0;
        width: 100%;
        text-align: center;
    }
}
.backgroundResto{
    width: 100%;
}
.intro_title--laPaletteDuGout{
    @include intro_title;
    background-image: url("/assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.title h1{
    font-size: 23px;
    line-height: 80px;
}
.menu{
    background-color: $grey;
    padding: 25px;
    padding-top: 0px;
    width: 90%;
    h2{
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        margin: 0px;
        padding-bottom: 5px;  
    }
}
.menu_title{
    display: flex;
    flex-direction: column;
    .border{
        border-top: 5px solid $tertiaire;
        width: 50px;
        padding-bottom: 30px;
    }
}

.heart_title_position{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
    height: 10px;
    margin-top: 49px;
    i.heart_hover{
        width: 0px;
    }
    &:hover{
        i.heart_hover{
            width: 25px;
        }
    }
}

.command{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: $grey;
}
.menu_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $grey;
}