.title_restaurants{
    z-index: 2;
    width: 100%;
    height: 63px;
    display: flex;
    align-items: center;
    .returnHome{
        width: 20%;
        position: absolute;
        left: 30px;
        i{
            font-size: 18px;
        }  
    } 
    .header_title{
        margin: 0;
        width: 100%;
        text-align: center;
    }
}